@page
@model IndexModel
@{
    ViewData["Title"] = "Collaborated To Do List";
}

<div class="row">

    <p>Lists for User</p>

    @foreach (var todoList in Model.todolistList)
    {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@todoList.Name</h3>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="accordion_@todoList.Id">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_@todoList.Id" href="#collapseOne_@todoList.Id">
                        Show incomplete Entries
                        </a>
                    </h4>
                    </div>
                    <div id="collapseOne_@todoList.Id" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-striped">
                                        <thead>
                                            <th>Name</th>
                                            <th>Due Date</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                @foreach (var todoItem in Model.todoItemList)
                                {
                                    if (todoItem.IsComplete == false)
                                    {
                                    <tr>
                                        <td>@todoItem.Name</td>
                                        <td>@todoItem.Until</td>
                                        <td>
                                        <button type="submit" class="btn btn-primary" asp-page-handler="test">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                            <span class="glyphicon glyphicon-ok"></span>
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </td>
                                    </tr>
                                    } 
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_@todoList.Id" href="#collapseTwo_@todoList.Id">
                        Show complete Entries
                        </a>
                    </h4>
                    </div>
                    <div id="collapseTwo_@todoList.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <th>Name</th>
                                    <th>Due Date</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                @foreach (var todoItem in Model.todoItemList)
                                { 
                                    if (todoItem.IsComplete == true)
                                    {
                                    <tr>
                                        <td>@todoItem.Name</td>
                                        <td>@todoItem.Until</td>
                                        <td>
                                            <span class="glyphicon glyphicon-remove"></span>
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </td>
                                    </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

    
    
</div>
